/*** GENERAL STYLE***/
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

a {
  color: olive;
  text-decoration: none;
}

a:hover {
  color: blueviolet;
}

/*** HEADER ***/
.header {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  text-align: center;
  padding: 10px 0;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 1px;
  word-spacing: 1px;   
  z-index: 99;
}

.header h1 {
  font-size: 40px;
  margin: 0;
}

.main-nav {
  margin-top: 0px;
}

.main-nav a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  color: black;
}

.main-nav a:hover {
  color: blueviolet;
}

/*** MAIN CONTENT ***/
.content {
  flex: 1;
  padding: 130px 10% 50px;
}

.bio-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.bio-text {
  flex: 1;
  min-width: 300px;
}

.bio-image {
  flex: 1;
  text-align: center;
}

.bio-image img {
  max-width: 80%;
  height: auto;
}

.project-list {
  padding: 100px 10% 50px;
}

.project {
  margin-bottom: 0px;
}

.project h2 {
  margin-bottom: 0px;
}

.project-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

.desc-column {
  flex: 1.75;
  overflow: visible;
  text-overflow: unset;
  white-space: normal;
}

.img-column {
  flex: 1;
  text-align: center;
}

.img-column img {
  max-width: 100%;
  height: auto;
}

.project-image {
  width: 100%;
  height: auto;
}

hr {
  border: 2px solid olive;
  margin: 30px 0;
}

/*** FOOTER ***/
.footer {
  background-color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  position: relative;
  bottom: 0;
}

.social-icons {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-icons li {
  display: inline;
}

.social-icons a {
  font-size: 20px;
  color:black;
}

.social-icons a:hover {
  color: blueviolet;
}
